.home {
	.top-section {
		.bottom-border();
		padding-bottom: 20px;
		width: 100%;
		height: 520px;
		background-color: #ba112e;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;

		.top-section-text {
			// width: calc(30% - 10px);
			width: 360px;

			h2 {
				font-size: 3.4rem;
				color: white;
				padding: 145px 20px 0 20px;
				font-style: normal;
				
				

				@media @mobile, @mobile2 {
					font-size: 3rem;
					padding: 0px 10px 0 10px;
					font-style: normal;
				}
			}

			@media @mobile, @mobile2 {
				width: 100%;
				padding: 0;
			}

			.btn {
				.button(@btn-color: #22942d, 60%);
      
      @media @mobile,@mobile2 {
        width: 60%;
      }
					}



		}

		.top-section-image {
			background-image: url(/images/header.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 80% 50%;
			width: calc(70% - 10px);
			height: 550px;

			@media @mobile, @mobile2 {
				width: 70%;
				margin: 0 auto;
				padding: 0;
			}
		}
		@media @mobile, @mobile2 {
			flex-direction: column;
			flex-wrap: nowrap;
			flex-flow: column-reverse;
			justify-content: center;
			width: 100%;
		}
	}

	.content-how {
		width: 100%;
		margin: 0 auto 30px;
		border-top: @borders-top-bottom;
		text-align: center;
		padding-top: 15px;

		img {
			border-radius: 10px;
		}
		@media @mobile {
			width: 100%;
		}
	}

	.content-features {
		padding: 20px;
		display: flex;
		justify-content: space-between;

		.features {
			width: calc(25% - 5px);
			text-align: center;

			img {
				width: 150px;
				height: 150px;
			}
			p {
				text-align: left;

				span {
					font-weight: 600;
				}
			}
			.btn {
				.button(@btn-color: #008080);
			}
			@media @mobile {
				width: 100%;
			}
		}

		@media @mobile {
			width: 100%;
			flex-direction: column;
			padding: 30px 30px;
		}
		@media @mobile2 {
			padding: 5px;
		}

	}
} 
